.todo_list {
  width: 100%;
  height: 90vh;
  background-color: var(--bg-secondary-color);

  display: flex;
  align-items: center;
}

.todo_list__inner_wrapper {
  width: 20%;
  flex-shrink: 0;
  height: 90%;

  background-color: var(--bg-primary-color);
  backdrop-filter: blur(10px);

  border: 1px solid var(--component-primary-color);
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: calc(var(--base-size) * 6);

  overflow: hidden;
}

.todo_list__title {
  color: var(--text-primary-color);
  font-size: calc(var(--base-size) * 8);
  text-align: center;

  margin-bottom: calc(var(--base-size) * 6);
}

.todo_list__todos {
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(var(--base-size) * 7);
}

.todo_list__todo {
  color: var(--text-secondary-color);
  font-size: calc(var(--base-size) * 5);
  text-align: center;

  background-color: var(--component-secondary-color);
  border: 1px solid var(--component-primary-color);

  padding: calc(var(--base-size) * 2);
  border-radius: 15px;
}

.todo_active {
  background-color: var(--component-primary-color);
  border: 1px solid var(--component-secondary-color);

  color: var(--text-primary-color);
}

.todo_list__todo__loading {
  color: var(--text-primary-color);
  font-size: calc(var(--base-size) * 5);
}

.todo_list__todo__content__loading {
  width: 100%;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo_list__todo__content__loading__title {
  color: var(--text-primary-color);
  margin-bottom: 15px;
}

.todo_list__todo__content__loading__loader {
  width: 45px;
  aspect-ratio: 1;
  --c: conic-gradient(
    from -90deg,
    var(--component-primary-color) 90deg,
    #0000 0
  );
  background: var(--c), var(--c);
  background-size: 40% 40%;
  animation: l20 1.5s infinite;
}
@keyframes l20 {
  0%,
  20% {
    background-position: 0 0, 0 calc(100% / 3);
  }
  33% {
    background-position: 0 0, calc(100% / 3) calc(100% / 3);
  }
  66% {
    background-position: 0 calc(100% / 3), calc(100% / 3) 0;
  }
  80%,
  100% {
    background-position: 0 calc(100% / 3), 0 0;
  }
}

.waves {
  width: calc(var(--base-size) * 30);
  height: calc(var(--base-size) * 30);

  margin: 40px;
}

.wave1,
.wave2 {
  position: absolute;
  width: 200%;
  height: 70%;
}

.wave1 {
  left: -40%;
  top: 70%;
  background-color: var(--component-primary-color);
  border-radius: 45%;
  animation: wave 10s linear infinite;
}

.wave2 {
  left: -40%;
  top: 80%;
  background-color: var(--bg-secondary-color);
  border-radius: 45%;
  animation: wave 8s linear infinite;
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}
