/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* globals */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* vars */

:root {
  --base-size: 4px;
}

/* light theme */
[data-theme="light"] {
  --text-primary-color: #111111; /* темный текст */
  --text-secondary-color: #7f7f7f; /* более светлый текст */
  --bg-primary-color: #f5f5f5; /* светлый фон */
  --bg-secondary-color: #ffffff; /* белый фон для выделенных элементов */
  --component-primary-color: #007bff; /* синий для компонентов */
  --component-secondary-color: #e0e0e0; /* светло-серый для вторичных компонентов */
  --button-primary-color: #007bff; /* синие кнопки */
  --button-secondary-color: #f0f0f0; /* светло-серые кнопки */
}

/* dark theme */
[data-theme="dark"] {
  --text-primary-color: #eaeaea; /* светлый текст */
  --text-secondary-color: #b0b0b0; /* более тусклый текст */
  --bg-primary-color: #181818; /* темный фон */
  --bg-secondary-color: #222222; /* чуть светлее для выделенных элементов */
  --component-primary-color: #00b0ff; /* яркий синий для компонентов */
  --component-secondary-color: #333333; /* темный серый для вторичных компонентов */
  --button-primary-color: #00b0ff; /* яркие кнопки */
  --button-secondary-color: #444444; /* темно-серые кнопки */
}
